# Dependencies
/node_modules

# Build outputs
/dist
/tmp
/out-tsc

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# Misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
